@charset "UTF-8";

/* Import Google Fonts - Both fonts support Vietnamese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+Norge:wght@100..400&display=swap');