@charset "UTF-8";

*,*::before,*::after{box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;-webkit-overflow-scrolling: touch;text-decoration-thickness: 1px!important;text-underline-offset: .25em!important;}
*[hidden]{display:none!important;}
a,address,b,blockquote,body,button,dd,div,dl,dt,em,fieldset,figure,form,h1,h2,h3,h4,h5,hr,html,i,input,ins,legend,li,mark,menu,ol,p,strong,td,textarea,th,var,video,ul{margin:0;padding:0;outline:none;text-decoration:none;font-size:1em;font-style:inherit;font-weight:inherit;font-family:inherit;text-align:inherit;color:inherit;}
button,fieldset,hr,img,input,textarea{border:none;background-color:transparent;}
button::-moz-focus-inner{border:0;}
footer,header,main{display:block;}
li{list-style:none;}



html{height:100%;background-color: #000000; -webkit-tap-highlight-color:transparent;scroll-behavior: auto;}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
body > svg{position:absolute;}
svg,symbol{overflow:visible;fill:currentColor;}
button{overflow:visible;cursor: pointer}
button,input,textarea{line-height:inherit;}
a[href^="mailto:"]{white-space: nowrap;}
b{font-weight: 700;}
p{margin: .75em 0;}
table{margin: 1em 0;}
p:first-child,
table:first-child{margin-top:0!important;}
p:last-child,
table:last-child{margin-bottom:0!important;}
video,
img{max-width:100%;width:100%;height:auto;display:block;}
img{pointer-events: none;}

figure p{margin: 0!important;}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color: inherit;opacity: .6;}
input::-moz-placeholder,
textarea::-moz-placeholder{color: inherit;opacity: .6;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{color: inherit;opacity: .6;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{margin:0;-webkit-appearance:none;-moz-appearance:none;}
input[type="search"]::-ms-clear, 
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="number"]{-moz-appearance:textfield;} 

*::-moz-selection{background-color: #FF6D01;color: #FFFFFF;-webkit-background-clip: none;-webkit-text-fill-color: #FFFFFF;}
*::selection{background-color: #FF6D01;color: #FFFFFF;-webkit-background-clip: none;-webkit-text-fill-color: #FFFFFF;}